<head>
    <meta charset="utf-8">
    <title>Employee Panel</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div style="margin-top: 5em;">
        <div class="ui container">
            <% if(error && error.length> 0) {%>
                <div class="ui visible message red" role="alert">
                    <%= error %>
                </div>
                <% } %>
                    <% if(success && success.length> 0){ %>
                        <div class="ui visible message green" role="alert">
                            <%= success %>
                        </div>
                        <% } %>
        </div>
    </div>

    <div class="ui fixed inverted menu">
        <div class="header item">
            Blog API
        </div>
        <div class="right menu">
            <a href="/logout" class="item">Logout (User: <%=name%>)</a>
        </div>
    </div>
    <% if (blogs.length !==0) { %>
        <div class="login-card">
            <div class="ui raised very padded text container segment">
                <div class="ui divided items">
                    <%blogs.forEach(function(blog){%>
                        <div class="item">
                            <div class="content">
                                <div class="header">
                                    <h2 style="text-align:center;">
                                        <%=blog.title%>
                                    </h2>
                                </div>
                                <div class="description">
                                    <p>
                                        <%=blog.body%>
                                    </p>
                                </div>
                                <div class="extra">
                                    <p>
                                        Submitted by: <%=blog.author.username%> (<%= blog.created.toDateString() %>)
                                    </p>
                                    <a class="ui button positive" href="/employee/<%= blog._id %>/verify">Verify</a>
                                </div>
                            </div>
                        </div>
                        <%});%>
                </div>
            </div>
        </div>
        <% } else {%>
            <div class="login-card">
                <h1> No blogs to verify </h1>
            </div>
            <% } %>
</body>